*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kode Mono", monospace;
}

body {
    background-color: #dddddd;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.heading{
    text-align: center;
}

h1{
    font-size: 48px;
    line-height: 60px;
    font-weight: 800;
    margin: 8px 0px;
}

h2{
    font-size: 24px;
    line-height: 35px;
    font-weight: 500;
    width: 50%;
    margin: 8px auto;
}

.gridContainer{
    padding: 16px;
}

.grid{
    width: 100%;
    margin: 0px auto;
}

.sectionContainer{
    width: 80%;
    margin: 0px auto;
    padding: 16px 0;
}

.sectionTitle{
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

.gridButtons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 8px;
}

button{
    padding: 16px 32px;
    background-color: #111111;
    color: #fff;
    border: none;
    font-size: 16px;
}

button:hover{
    cursor: pointer;
    background-color: #2e2e2e;
}

.reset{
    width: fit-content;
    margin: 0 auto;
    padding: 32px 0px;
}

.mouseOverColour{
    display: flex;
    justify-content: center;
    gap: 48px;
}